<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formregistro.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="login-box">
        <h2>Iniciar Sesión</h2>
        <form method="POST" action="/login">
            <div class="user-box">
                <label>Usuario:</label><br><br>
                <input type="text" name="username">
            </div>
            <div class="user-box">
                <label>Contraseña:</label><br><br>
                <input type="password" name="password">
            </div>

            <a href="#" onclick="this.closest('form').submit(); return false;">
                Iniciar Sesion
                <span></span><span></span><span></span><span></span>
            </a>

            <a href="{{ url_for('form') }}">
                Registrarse
            </a>


        </form>

    </div>



</body>
</html>


